@import "../variables";
@import "../mixins";
@import "../functions";

.download {
  &__container {
    padding-top: rem(100px);
    padding-bottom: rem(100px);

    @media only screen and (max-width: $bp-small) {
      padding-top: rem(48px);
      padding-bottom: rem(48px);
    }
  }

  &__content {
    background-color: rgba($color-white, 0.1);
    padding: rem(72px) rem(24px);
    border-radius: rem(20px);
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      @include circles;

      left: 50%;
      top: 60%;
      border-color: rgba($color-white, 0.35);
      z-index: -1;

      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }

    &::before {
      transform: translate(-50%, calc(-50% - rem(30px)));
    }

    &::after {
      transform: translate(-50%, calc(-50% + rem(30px)));
    }

    @media only screen and (max-width: $bp-small) {
      padding: rem(48px) rem(24px);
    }
  }

  &__inner {
    position: relative;
    margin: 0 auto;
    max-width: m-percentage(760px, 1420px);

    @media only screen and (max-width: $bp-extra-large) {
      max-width: 70%;
    }

    @media only screen and (max-width: $bp-medium) {
      max-width: 80%;
    }

    @media only screen and (max-width: $bp-medium-small) {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: rem(48px);

    @media only screen and (max-width: $bp-small) {
      margin-bottom: rem(36px);
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(24px);

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }
}

.light-mode {
  .download__content {
    background-color: rgba($color-green-day, 0.1);

    &::before,
    &::after {
      border-color: rgba($color-green-day, 0.35);
    }
  }
}
