@import "../variables";
@import "../mixins";
@import "../functions";

.header {
  background-color: $color-transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: $header-height-desktop;
  transition: 0.4s;

  &.scrolled {
    background-color: rgba($color-black, 0.95);
  }

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo.nav__link {
    &:link,
    &:visited {
      position: relative;
      font-family: $font-lato;
      font-size: rem(36px);
      font-weight: 500;
      line-height: rem(43px);
      letter-spacing: 0;
      z-index: 998;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: rem(16px);
    z-index: 1000;

    .theme-switcher {
      margin-right: rem(16px);
    }

    .btn {
      @media only screen and (max-width: $bp-header-collapse) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      grid-template-columns: max-content;
      align-items: center;
      justify-content: center;
      gap: rem(24px);
      margin-top: rem(48px);

      @media only screen and (max-width: $bp-header-collapse) {
        display: grid;
      }
    }
  }

  @media only screen and (max-width: $bp-extra-medium) {
    height: $header-height-mobile;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: rem(44px);

    @media only screen and (max-width: $bp-extra-medium) {
      gap: rem(24px);
    }
  }

  &__link-link {
    &:link,
    &:visited {
      display: block;
      font-family: $font-lato;
      font-size: rem(18px);
      font-weight: 400;
      line-height: rem(22px);
      letter-spacing: 0;
      position: relative;
      overflow: visible;
      padding: rem(6px) 0;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: rem(1.5px);
      width: 0;
      background-color: $color-white;
      transition: 0.4s;
    }

    &:hover,
    &:active {
      &::after {
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: $bp-header-collapse) {
    position: fixed;
    z-index: 900;
    background-color: rgba($color-black, 0.9);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding-top: $header-height-mobile;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;

    &__list {
      flex-direction: column;
    }
  }
}

.menu-btn {
  display: none;
  width: rem(40px);
  height: rem(40px);
  border: none;
  position: relative;
  background-color: $color-transparent;

  &__icon {
    top: 50%;
    transform: translateY(-50%);

    &,
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: rem(3px);
      background-color: $color-green-night;
      transition: all 0.4s;
    }

    &::before {
      top: rem(-12px);
    }

    &::after {
      bottom: (-12px);
    }
  }

  @media only screen and (max-width: $bp-header-collapse) {
    display: block;
  }
}

.light-mode {
  .header {
    &.scrolled {
      background-color: rgba($color-white, 0.95);
    }

    &.collapsed {
      @media only screen and (max-width: $bp-header-collapse) {
        background-color: rgba($color-green-day, 0.9);
      }
    }
  }

  .menu-btn__icon {
    &,
    &::after,
    &::before {
      background-color: $color-green-day;
    }
  }

  .nav {
    @media only screen and (max-width: $bp-header-collapse) {
      background-color: rgba($color-white, 0.9);
    }
  }

  .nav__link-link {
    &::after {
      background-color: $color-black;
    }
  }
}

@media only screen and (max-width: $bp-header-collapse) {
  .header.collapsed {
    background-color: m-darken($color-green-night, 60%);

    .menu-btn {
      &__icon {
        background-color: transparent;

        &::before,
        &::after {
          top: 0;
        }

        &::before {
          transform: rotate(225deg);
        }

        &::after {
          transform: rotate(-225deg);
        }
      }
    }

    .nav {
      left: 0;
    }
  }
}
