@import "../variables";
@import "../mixins";
@import "../functions";

.why {
  &__container {
    padding-top: rem(110px);
    padding-bottom: rem(100px);
    display: grid;
    grid-template-columns: 0.453fr 0.547fr;
    column-gap: rem(177px);

    @media only screen and (max-width: $bp-extra-medium) {
      grid-template-columns: 0.55fr 0.45fr;
      column-gap: rem(96px);
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      row-gap: rem(64px);
      padding-top: rem(48px);
      padding-bottom: rem(48px);
    }
  }

  &__title {
    margin-bottom: rem(32px);
  }

  &__text {
    margin-bottom: rem(48px);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(48px);
    margin-bottom: rem(48px);

    @media only screen and (max-width: $bp-small) {
      gap: rem(36px);
    }
  }

  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    column-gap: rem(50px);

    &-number {
      width: rem(64px);
      height: rem(64px);
      background-color: rgba($color-white, 0.05);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(36px);
      font-weight: 600;
      line-height: rem(36px);
      letter-spacing: 0;
    }

    &-reason {
      font-size: rem(20px);
      font-weight: 500;
      line-height: rem(22px);
      letter-spacing: 0;
    }

    @media only screen and (max-width: $bp-small) {
      column-gap: rem(32px);
    }
  }

  &__btn {
    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }

  &__image {
    padding-bottom: 100%;
    position: relative;
    border-radius: rem(20px);
    overflow: hidden;

    img {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;

      @media only screen and (max-width: $bp-extra-medium) {
        width: 100%;
        height: auto;
      }

      @media only screen and (max-width: $bp-medium) {
        height: 100%;
        object-position: center;
      }
    }

    @media only screen and (max-width: $bp-extra-medium) {
      align-self: center;
    }

    @media only screen and (max-width: $bp-medium) {
      padding-bottom: 65%;
      width: 100%;
      margin: 0 auto;
    }

    @media only screen and (max-width: $bp-small) {
      padding-bottom: 65%;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.light-mode {
  .why__item-number {
    color: $color-green-day;
    background-color: rgba($color-green-day, 0.1);
  }
}
