@import "./variables";
@import "./functions";
@import "./mixins";

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
  }
}

img {
  vertical-align: top;
}

svg {
  color: inherit;
  width: rem(24px);
  height: rem(24px);
}
