@import "./variables";
@import "./functions";
@import "./mixins";

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    color: inherit;
  }
}

html,
body {
  min-height: 100%;
  height: 100%;
}

html {
  font-family: $font-spartan;
  font-size: rem($html-font-size);
}

body {
  font-size: rem(18px);
  background-color: $color-black;
  color: $color-white;
  transition: 0.4s;

  &.light-mode {
    background-color: $color-white;
    color: $color-black;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: top;
}

svg {
  color: inherit;
  width: rem(24px);
  height: rem(24px);
}

a {
  &:link,
  &:visited {
    cursor: pointer;
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: rem(1920px);
  margin: 0 auto;

  &--large {
    padding-left: rem(150px);
    padding-right: rem(150px);;
  }

  &--small {
    padding-left: rem(250px);
    padding-right: rem(250px);
  }

  &--large,
  &--small {
    @media only screen and (max-width: $bp-extra-large) {
      padding-left: rem(120px);
      padding-right: rem(120px);
    }

    @media only screen and (max-width: $bp-large) {
      padding-left: rem(84px);
      padding-right: rem(84px);
    }

    @media only screen and (max-width: $bp-extra-medium) {
      padding-left: rem(64px);
      padding-right: rem(64px);
    }

    @media only screen and (max-width: $bp-medium) {
      padding-left: rem(48px);
      padding-right: rem(48px);
    }

    @media only screen and (max-width: $bp-medium-small) {
      padding-left: rem(36px);
      padding-right: rem(36px);
    }

    @media only screen and (max-width: $bp-small) {
      padding-left: rem(24px);
      padding-right: rem(24px);
    }
  }
}
