// A flex item by default cannot be smaller than the size of its content
// => add min-width: 0; to the flex item to enable text clipping.

@import "./variables";
@import "./functions";

@mixin line-clip($lines-number, $is-flex-item: false) {
  display: -webkit-box;
  -webkit-line-clamp: $lines-number;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @if $is-flex-item {
    min-width: 0;
  }
}

@mixin circles() {
  content: "";
  pointer-events: none;
  position: absolute;
  display: inline-block;
  top: rem(0);
  left: rem(0);
  width: rem(585px);
  height: rem(585px);
  border: rem(1px) solid currentColor;
  border-radius: 50%;
  z-index: 3;

  @media only screen and (max-width: $bp-medium) {
    width: rem(320px);
    height: rem(320px);
  }

  @media only screen and (max-width: $bp-small) {
    width: rem(200px);
    height: rem(200px);
  }
}
