$color-white: #fff;
$color-black: #263238;
$color-green-day: #008000;
$color-green-night: #23b123;
$color-transparent: transparent;
$html-font-size: 16px;
$header-height-desktop: rem(184px);
$header-height-mobile: rem(96px);
$font-lato: "Lato", sans-serif;
$font-spartan: "League Spartan", sans-serif;
$bp-extra-large: 1680px;
$bp-large: 1440px;
$bp-extra-medium: 1300px;
$bp-medium: 1200px;
$bp-medium-small: 990px;
$bp-small: 600px;
$bp-extra-small: 450px;
